<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" >
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link btn"  class="btn btn-info" (click)="adminList()">List View </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn"  class="btn btn-info" (click)="addProduct()">Add New Product </a>
        </li>
        <li class=" nav-item" >
      <button class="btn btn-warning"> <i class="fas fa-shopping-cart"></i></button>
     </li>
      </ul>
    </div>
  </div>
</nav> -->

    <!-- <mat-grid-list cols=4 #grid rowHeight="380px" gutterSize="10px">
      <mat-grid-tile width="25%"*ngFor="let contract of [1,2,3,4,5,6,7,8]">  
    <div class="content">
        <mat-card class="selected-card">
        <mat-card-header>
          <mat-card-title >Mobile</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/lap.jpg">
        <mat-card-content>
          <label class="label">Price: {{this.amount}}</label> 
          <label class="label">Quantity: {{this.quantity}}</label>
          <label class="label">Description: {{this.description}}</label>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="editProduct()" >EDIT</button>
          <button mat-button (click)="previewProduct()">PREVIEW</button>
        </mat-card-actions>
      </mat-card>
    </div> 
  </mat-grid-tile>
  </mat-grid-list>
   -->

   <app-admin></app-admin>